.items-sell-contents {
  
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.fishing-main {
  background-color: white;
  width: 60vw;
}

.fish-form {
  display: flex;
  justify-content: space-between;
}

.image-field {
  margin: 60px 0;
}

.preview-image {
  width: 50vh;
  height: 50vh;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-top: 15px;
}

.fishing-info {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding: 30px 0;
}

.fish-form-data {
  width: 35vh;
}

.fishing-box {
  width: 96%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 16px;
}

.fishing-box_memo {
  width: 97%;
  height: 130px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  padding-left: 16px;
}

.fishing-box-area {
  width: 97%;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 16px;
}

.new-up-btn {
  width: 97%;
  height: 35px;
  background-color: red;
  border: 1px solid red;
  font-size: 20px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}

.back-btn {
  justify-content: center;
  display: flex;
  width: 97%;
  text-decoration: none;
  font-size: 20px;
  color: gray;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  border: 1px solid #ccc;
}