.show {
  width: 100vw;
  height: 100px;
  background-color: white;
}

.fish-img-box {
  width: 100vw;
  height: 800px;
  background-color: white;
  display: flex;
}

.fish-show-img {
  width: 60vw;
  height: 800px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.show-img {
  width: 90vh;
  height: 90vh;
  padding-top: 9px;
}

.show-info {
  width: 150px;
  margin: 0 0 50px 5vh;
  border-bottom: 1px solid;
}

h2 {
  font-size: 30px;
}

.fish-show-content {
  width: 40vw;
}

.detail-item {
  padding: 0 12vh 15px 5vh;
}

.detail-value {
  padding: 0 12vh 15px 5vh;
} 

.show-user-data {
  width: 88vw;
  height: 150px;
  border-top: 1px solid;
  margin: 0 auto;
}

.user-comment-box {
  width: 88vw;
  height: 200px;
  margin: 0% auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 22px;
}

.fish-data-edit {
  margin-top: 50px;
  padding: 0 12vh 15px 5vh;
}

.data_btn {
  text-decoration: none;
  padding-right: 21vh;
  color: lightskyblue;
  font-size: 18px;
}

.user__nickname {
  font-size: 20px;
}

.comment-text {
  width: 60%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 16px;
  height: 90px;
  margin: 10px 0;
}

.comment-submit {
  border-radius: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  font-size: 15px;
  color: lightskyblue;
  cursor: pointer;
  margin: 20px 0;
  padding: 5px;
  position: relative;
  left: 20px;
  bottom: 22px;
}

.users-comment {
  font-size: 20px;
}

.login-comment {
  margin: 63px 38px;
}
.login__btn__comment{
  font-size: 15px;
  border: 1px solid;
  padding: 20px;
  border-radius: 4px;
  color: lightskyblue;
}

.favorite-show {
  color: palevioletred;
  font-size: 18px;
  margin-top: 30px;
}

.heart-show {
  color: palevioletred;
  font-size: 18px;
}